{% extends 'base.html' %}
{% block title %} Welcome {% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% if blog %}
    {% for bl in blog %}
    <div class="col">
        <div class="card">
            <img src="/media/{{bl.blog_img}}" class="card-img-top" style="width:100%;height:300px;">
            <div class="card-body">
                <h5 class="card-title">{{bl.title}}</h5>
                <p class="card-text">{{bl.content|truncatewords:20}}</p>
                <a href="/blog/{{bl.slug}}/" class="btn btn-primary">Click to view</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="heading">
    <h2>No Blogs</h2>
</div>
{% endif %}
{% endblock %}